{% macro render(elementId = null, elementPartId = null, formTextPartId = null, errorRequiredPartId = null, errorInvalidPartId = null, labelText = null, infoText = null, errorRequiredText = null, errorInvalidText = null, formFieldDefaultId = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set formFieldElementId = elementId ?: 'form-field-REEhtN' %}
    {% set formFieldElementPartId = elementPartId ?: 'form-field-part-H72Mnu' %}
    {% set formFieldTextPartId = formTextPartId ?: 'form-field-part-text-T9yfhp' %}
    {% set formFieldErrorRequiredPartId = errorRequiredPartId ?: 'form-field-part-error-required-904DIx' %}
    {% set formFieldErrorInvalidPartId = errorInvalidPartId ?: 'form-field-part-error-invalid-5g1mUc' %}
    {% set formFieldLabelText = (labelText ?: properties.formFieldLabelText) ?: bsi_cx_lorem(3) %}
    {% set formFieldInfoText = (infoText ?: properties.formFieldInfoText) ?: "" %}
    {% set formFieldDefaultId = formFieldDefaultId ?: "" %}
    
    {% set formFieldErrorRequiredText = (errorRequiredText ?: properties.errorRequiredText) ?: 'Bitte füllen Sie dieses Feld aus.' %} {# TODO: make translatable #}
    {% set formFieldErrorInvalidText = (errorInvalidText ?: properties.errorInvalidText) ?: 'Der Wert, den Sie für dieses Feld eingegeben haben, ist ungültig.' %} {# TODO: make translatable #}

    <div x-data="formField" data-bsi-element="{{ formFieldElementId }}" class="{{ 'bsi-element-' ~ formFieldElementId }} mb-4 bsi-form-element bsi-form-field-element bsi-form-flex-label" data-bsi-element-part="{{ formFieldElementPartId }}">
        <div class="bsi-form-input-element mb-3x bsi-label-floating-element">
            <div class="form-label-and-info-text">
                <label for="field" class="form-label">{{ formFieldLabelText }}</label>
                <div data-bsi-element-part="{{ formFieldTextPartId }}" class="form-text">{{ formFieldInfoText }}</div>
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-custom-class="bsi-tooltip" role="tooltip" aria-label="{{ formFieldInfoText }}"></i>
            </div>
            <input x-init="initFormFieldInput" x-on:change="validateInput" type="text" class="form-control bsi-form-field-input"  id="{{formFieldDefaultId}}" name="{{formFieldDefaultId}}" value="">
            <div x-init="initRequiredError" class="invalid-feedback">
                <label data-bsi-element-part="{{ formFieldErrorRequiredPartId }}" role="alert" aria-live="assertive" aria-atomic="true">{{ formFieldErrorRequiredText }}</label>
            </div>
            <div x-init="initInvalidError" class="format-invalid-feedback" hidden="true" aria-hidden="true">
                <label data-bsi-element-part="{{ formFieldErrorInvalidPartId }}" class="errormessage-invalid" role="alert" aria-live="assertive" aria-atomic="true">{{ formFieldErrorInvalidText }}</label>
            </div>
        </div>
    </div>
{% endapply %}