{% macro render(elementId = null, titlePartId = null, text = null, color = null, style = null, weight = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set titleH2ElementId = elementId ?: 'title-h2-KNs10G' %}
    {% set titleH2PartId = titlePartId ?: 'title-h2-part-vD6omt' %}
    {% set titleH2Text = (text ?: properties.titleH2Text) ?: bsi_cx_lorem(3) %}
    {% set titleH2Color = (color ?: properties.titleH2Color) ?: 'bsi-text-primary-color' %}
    {% set titleH2Style = (style ?: properties.titleH2Style) ?: 'bsi-default' %}
    {% set titleH2Weight = (weight ?: properties.titleH2Weight) ?: 'fw-normal' %}

    <h2 data-bsi-element="{{ titleH2ElementId }}" data-bsi-element-part="{{ titleH2PartId }}" class="{{ 'bsi-element-' ~ titleH2ElementId }} {{ titleH2Color }} {{ titleH2Style }} {{ titleH2Weight }}">{{ titleH2Text }}</h2>
{% endapply %}