{% macro render(elementId = null, elementPartId = null, formTextPartId = null, errorRequiredPartId = null, labelText = null, infoText = null, errorRequiredText = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set checkboxElementId = elementId ?: 'checkbox-24CNSe' %}
    {% set checkboxElementPartId = elementPartId ?: 'checkbox-part-Nls88s' %}
    {% set checkboxFormTextPartId = formTextPartId ?: 'checkbox-part-text-6ycJm4' %}
    {% set checkboxErrorRequiredPartId = errorRequiredPartId ?: 'checkbox-part-error-required-iYG8Ss' %}
    {% set checkboxLabelText = (labelText ?: properties.checkboxLabelText) ?: bsi_cx_lorem(3) %}
    {% set checkboxInfoText = (infoText ?: properties.checkboxInfoText) ?: "" %}
    {% set checkboxErrorRequiredText = (errorRequiredText ?: properties.errorRequiredText) ?: 'Bitte füllen Sie dieses Feld aus.' %} {# TODO: make translatable #}

    <div data-bsi-element="{{ checkboxElementId }}" class="{{ 'bsi-element-' ~ checkboxElementId }} mb-4 bsi-form-element form-check bsi-form-flex-label bsi-checkbox-spacing-visible bsi-form-switch-hide" data-bsi-element-part="{{ checkboxElementPartId }}">
        <div class="bsi-form-input-element">
            <input class="form-check-input" type="checkbox" id="switch">
            <div class="checkbox-label-and-tooltip">
                <label class="form-check-label" for="switch">{{ checkboxLabelText }}</label>
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-custom-class="bsi-tooltip" role="tooltip" aria-label="{{ checkboxInfoText }}"></i>
            </div>
        </div>
        <div data-bsi-element-part="{{ checkboxFormTextPartId }}" class="form-text">{{ checkboxInfoText }}</div>
        <div x-init="initRequiredError" class="invalid-feedback">
            <label data-bsi-element-part="{{ checkboxErrorRequiredPartId }}" role="alert" aria-live="assertive" aria-atomic="true">{{ checkboxErrorRequiredText }}</label>
        </div>
    </div>
{% endapply %}