{% apply spaceless %}
{% set accordionElementId = elementId ?: 'accordion-OowSb3' %}
{% set accordionTitlePartId = titlePartId ?: 'accordion-title-74AGOw' %}
{% set accordionTitleText = titleText ?: bsi_cx_lorem(3) %}
{% set accordionContentDropzoneId = contentDropzoneId ?: 'accordion-content-dropzone-O93IRR' %}
{% set accordionIconPosition = (iconPosition ?: properties.accordionIconPosition) ?: 'start' %} {# must be in ['start', 'end', 'none'] #}

<div data-bsi-element="{{ accordionElementId }}" class="bsi-element-{{ accordionElementId }} inactive" x-data="accordionElement">
	<button x-init="initAccordion" class="accordion-header element" @click="toggleActive" aria-expanded="false">
		{% if accordionIconPosition == 'start' %}
			{% block icon_before %}
				<i class="bi inactive bi-plus-lg"></i>
				<i class="bi active bi-dash-lg"></i>
			{% endblock %}
		{% endif %}
		<div data-bsi-element-part="{{ accordionTitlePartId }}" class="accordion-title">{{ accordionTitleText }}</div>
		{% if accordionIconPosition == 'end' %}
			{% block icon_after %}
				<i class="bi bi-chevron-up rotate-180"></i>
			{% endblock %}
		{% endif %}
	</button>
	<div class="accordion-content" data-bsi-dropzone="{{ accordionContentDropzoneId }}">
		{% block accordionContent %}
			{% include "../../text/template.twig" %}
		{% endblock %}
	</div>
</div>
{% endapply %}
